:root {
    --main: #d2fafb;
    --light: #51dacf;
    --dark: #41aaa8;
    --accent: #2c003e;
}
* {
    box-sizing: border-box;
}
/* PHONE UP */
body {
    background: var(--main);
    font-family: "Varela Round", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: var(--dark);
    height: 100%;
    position: relative;
}
main {
    min-height: 100vh;
    padding-bottom: 8em;
    position: relative;
}
header {
    width: 100vw;
    padding: 1em 2em;
    /* background: var(--accent); */
}
#logo {
    color: var(--accent);
    font-weight: 400;
    font-size: 2em;
}
#logo span {
    font-weight: 900;
}

section {
    margin: 0 auto;
    width: 90vw;
}
input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
input[type="file"] + label {
    font-size: 1em;
    font-weight: 300;
    color: var(--main);
    background-color: var(--light);
    display: inline-block;
    cursor: pointer;
    padding: 0.25em;
    border-radius: 5px;
    transition: all 0.5s;
}
input[type="file"]:focus + label,
input[type="file"] + label:hover {
    background-color: var(--dark);
}
input[type="file"]:focus + label {
    outline: 1px dotted var(--accent);
    outline: -webkit-focus-ring-color auto 5px;
}

input[type="file"] + label * {
    pointer-events: none;
}
#img-container {
    display: flex;
    flex-direction: column;
}
.card {
    /* width: 15em; */
    /* height: 15em; */
    margin: 0.5em;
    /* border: 1px solid var(--accent); */
    border-radius: 5px;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--light);
}
a {
    color: var(--accent);
    text-decoration: none;
}
a:visited {
    color: var(--accent);
}
a:hover {
    text-decoration: underline;
}
footer {
    position: absolute;
    width: 100%;
    height: 8em;
    bottom: 0;
    color: var(--dark);
    font-size: 0.6em;
    line-height: 1.6;
    text-align: center;
    padding: 2em 0;
}
/* PHONE ONLY @media (max-width: 599px) */
@media only screen and (max-width: 599px) {
}
/* TABLET PORTRAIT @media (min-width: 600px) */
@media only screen and (min-width: 600px) {
    #img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* TABLET LANDSCAPE @media (min-width: 900px) */
@media only screen and (min-width: 900px) {
}
/* DESKTOP @media (min-width: 1200px) */

@media only screen and (min-width: 1200px) {
    section {
        margin: 0 auto;
        width: 80vw;
    }
    #img-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
        width: 15em;
        height: 15em;
        /* border: 1px solid var(--accent); */
        border-radius: 5px;
        padding: 0.2em;
    }
}
